
body {
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-color: #6392ff;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 5px 5px;
  }
  
  .navbar img {
    width: 90px;
    height: auto;
    border-radius: 50%;
    margin-right: auto; /* Empuja la imagen hacia la izquierda */
  }
  
  .navbar-links {
    display: flex;
    justify-content: flex-end;
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    
    display: inline-block;
  }
  .navbar a {
    color: #fff;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
  }

  .content {
    margin-top: 60px;
    padding: 20px;
  }
  
  /* Estilos para las secciones */
  .section {
<<<<<<< HEAD
    height: 700px; /* Altura de las secciones */
=======
    height: 800px; /* Altura de las secciones */
>>>>>>> 463cc73bdcbfa39b9df263c1afc44b5275da1bd9
  }
  
  #inicio {
    background-color: #f1f1f1;
  }
  
  #acerca {
    background-color: white;
    
  }

#caja3 {font-size: 20px;color: black; font-weight: bold; top: 120px;right: 220px;
display: flex;
justify-content: left;}

  #contacto {
    
    display: flex;
    background-color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  p.inf {
    font-size: 20px;
  }
  div.iz {
    margin-left: 100px;
    margin-right: 150px;
  }

  div.mid {
    height: 520px;
    width: 400px;
    margin-left: 15px
    background-color: #fffafa;
  }
  div.der {
    margin-left: 500px;
    margin-top: 50px;
    background-color: rgb(0, 0, 0);
    width: 1500px;
    
  }
  .socials {
    display: flex;
    
  }
  
  .socials li {
    display: flex;
    margin: 0 10px;
    
  }
  .socials a {
    text-decoration: none;
    color: #fff;
  }
  .socials a i {
    font-size: 17, 6px;
    transition: color 0.4s ease;
  }
  .socials a:hover i {
    color: aqua;
    }
  
    form {
      border-radius: 5px;
      border: 5px solid #ffffff;
      padding: 20px;
    }
    
    fieldset {
      border: none;
      margin-bottom: 20px;
    }
    
    legend {
      font-size: 20px;
      font-weight: bold;
    }
    
    input[type=submit] {
      background-color: #ffffff;
      color: rgb(255, 255, 255);
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }


  a {
    
   
    }
    
/*

1 auto: El navegador determina el estilo de cursor apropiado según el contexto.
2 default: El estilo de cursor predeterminado del navegador (generalmente una flecha).
3 pointer: Un puntero, indicando que el elemento es interactivo y se puede hacer clic.
4 crosshair: Un cursor en forma de cruz, utilizado para indicar una selección de área.
5 move: Un cursor con flechas, utilizado para indicar que un elemento se puede mover.
6 text: Un cursor de texto, utilizado para indicar que se puede escribir texto en el elemento.
7 wait: Un cursor de espera, utilizado para indicar que el navegador está ocupado y se debe esperar.
8 help: Un cursor de ayuda, utilizado para indicar que se proporciona ayuda o información adicional.

*/


    a:link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
      }
      a:visited {
       color: rgb(35, 3, 194);
      }
      a:hover {
        background-color: rgb(1, 88, 210);
        color: white;
        transition-property: color, background-color;
        transition-duration: 300ms, 400ms;
        transition-timing-function: ease-in, ease-out;
      }
      a:active {
       background-color: rgb(17, 36, 239);
      }
      footer {
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #050089;
        color: #ccc;
        padding: 10px;
        text-align: center;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      .footer-icons {
        display: flex;
        justify-content: flex-end;
      }
      
      .footer-icons a {
        color: #c11919;
        margin-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: transparent;
        transition: background-color 0.3s ease-in-out;
      }
      
      .footer-icons a:hover {
        background-color: #5bbbff;
      }
      
      .footer-icons a i {
        color: #fffafa;
      }
      
      .footer-text {
        margin-top: 5px;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; 
}
.container img{
  width: 70%;
}

.image{
  width: 100%;
}

.container2 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
}

.container3 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr; 
}

.container2 img{
  width: 70%;
}

.centrado{
  text-align: center;
}

.texto{
  font-weight: bold;
  color: blueviolet;
  font-size: 20px;
}

.img-10{
  width: 100%;
  height: 500px;
}